doctype 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/chat.css', rel='stylesheet')
    title = "Playlist"
    script(src='/socket.io/socket.io.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src='/js/jQuery.tubeplayer.min.js')
    script(src='/js/chat.js')
  body
    .container-fluid
      .row-flud
        .span1
          h5#userlist Users:
          #users
        .span2
          h5#playlist Play list:
          #queue
        .span4
          #convowrap
            #convo
          .controls
            input.data#data(type='text')
            input.send.btn.btn-small.btn-primary#send(type='submit', value='send')
        .span5
          #player(style='display:none;')
