doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/chat.css', rel='stylesheet')
    title Playlist
    script(src='/socket.io/socket.io.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src='/js/jQuery.tubeplayer.min.js')
    script(src='/js/chat.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .nav-collapse.collapse
            a.brand BuddyTube

    .container-fluid#main

      .row-fluid
        .span12

      .row-fluid
        .span12

      .row-fluid
        .span12

      .row-fluid
        .span1
          h5#userlist Users:
          #users

        .span2
          h5#playlist Play list:
          table#queue.table.table-striped

        .span4
          #convowrap.bs-docs-example
            #convo

          form.content-form
            .controls
              input.data#data
              input.send.btn.btn-info#send(type='submit', value='send')

        .span5
          #player
